<fieldset>
    <legend>User Sign-up</legend>
    <p><input type="text" placeholder="First Name" data-bind="value:firstname" /></p>
    <p><input type="text" placeholder="Last Name" data-bind="value:lastname" /></p>

    <div data-bind="html: fullname"></div>

    <p><input type="email" placeholder="Email" data-bind="value:email" /></p>
    <p><input type="password" placeholder="Password" data-bind="value:password" /></p>
    <p><input type="button" value="Create Account" /></p>

    <div>User Sign up Component</div>
</fieldset>